{% extends 'base.html.twig' %}

{% block title %}osow page!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('decou.css') }}"> <!-- Link to the CSS file for the gallery -->
{% endblock %}

{% block body %}
    <body class="img">
        <!-- Navigation bar -->
        <nav class="cc-navbar navbar navbar-expand-lg navbar-dark position-fixed w-100">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase mx-4 py-3 fw-bolder">Oumar Sow</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- Main section -->
        <section class="banner d-flex justify-content-center align-items-center pt-5">
            <div class="container my-5 py-5">
                <div class="row">
                    <!-- Text description -->
                    <div class="col-md-6 banner-desc lh-lg">
                        <p class="text-capitalize py-3 redressed">
                            <i>
                               Activities and hobbies<br>
                               <strong>
                                In my free time, I engage in several activities that allow me to relax, have fun, and maintain balance. First of all, I love playing basketball with my friends. This sport is an excellent way for me to unwind, stay active, and strengthen friendships.

                                Outside of sports, I really enjoy watching football matches, a way for me to follow international competitions and analyze team strategies. Manga is also one of my passions, as it allows me to escape into different worlds while stimulating my imagination.

                                Music also plays an important role in my daily life. It serves as both a source of relaxation and motivation, whether to unwind after a busy day or to boost my energy. Additionally, video games, especially FIFA and PES, are among my favorite pastimes. They offer me opportunities to take on challenges, test my reflexes, and immerse myself in virtual competitions.

                                Finally, I enjoy spending time chatting with my family and friends. These moments of sharing are essential for me and help me stay connected with those who matter. When I want a change of scenery, I don't hesitate to go out for a walk in the city, enjoy the urban environment, and discover new places.

                                These various activities enrich my daily life and help me maintain a good balance between relaxation, leisure, and personal well-being.
                                </strong>
                            </i>
                        </p>
                    </div>

                    <!-- Image gallery -->
                    <div class="col-md-6">
                        <div class="img-gallery">
                            <div class="image-container loisir-container">
                                <p class="image-description">Leisure</p>
                                <img src="{{ asset('IMAGE/loi.jpg') }}" alt="Leisure" class="gallery-image loisir-image" onclick="openModal('{{ asset('IMAGE/loi.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Book</p>
                                <img src="{{ asset('IMAGE/liv.jpg') }}" alt="Book" class="gallery-image" onclick="openModal('{{ asset('IMAGE/liv.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Music</p>
                                <img src="{{ asset('IMAGE/musi.jpg') }}" alt="Music" class="gallery-image" onclick="openModal('{{ asset('IMAGE/musi.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Basketball</p>
                                <img src="{{ asset('IMAGE/bask.jpg') }}" alt="Basketball" class="gallery-image" onclick="openModal('{{ asset('IMAGE/bask.jpg') }}')">
                            </div>
                             <div class="image-container">
                                <p class="image-description">Basketball</p>
                                <img src="{{ asset('IMAGE/bas3.jpg') }}" alt="Basketball 1" class="gallery-image" onclick="openModal('{{ asset('IMAGE/bas3.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Manga</p>
                                <img src="{{ asset('IMAGE/manga.jpg') }}" alt="Manga" class="gallery-image" onclick="openModal('{{ asset('IMAGE/manga.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Football</p>
                                <img src="{{ asset('IMAGE/foot.jpg') }}" alt="Football" class="gallery-image" onclick="openModal('{{ asset('IMAGE/foot.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Walk</p>
                                <img src="{{ asset('IMAGE/prom.jpg') }}" alt="Walk" class="gallery-image" onclick="openModal('{{ asset('IMAGE/prom.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Workout</p>
                                <img src="{{ asset('IMAGE/mus.jpg') }}" alt="Music 2" class="gallery-image" onclick="openModal('{{ asset('IMAGE/mus.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Phone</p>
                                <img src="{{ asset('IMAGE/app.jpg') }}" alt="Music 2" class="gallery-image" onclick="openModal('{{ asset('IMAGE/mus.jpg') }}')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal to display the enlarged image -->
        <div id="myModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="img01">
        </div>

        <!-- Footer -->
        <footer>
            Copyright <span class="glyphicon glyphicon-nom-image"></span> 2025 oumar.sow@etu.univ-st-etienne.fr
        </footer>

        <!-- JavaScript script -->
        <script>
            // Function to open the modal with the clicked image
            function openModal(imageSrc) {
                const modal = document.getElementById("myModal");
                const modalImg = document.getElementById("img01");
                modal.style.display = "block";
                modalImg.src = imageSrc;
            }

            // Function to close the modal
            function closeModal() {
                const modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
        </script>
    </body>
{% endblock %}