{% extends 'base.html.twig' %}

{% block title %}osow page!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('decou.css') }}"> <!-- Lien vers le fichier CSS pour la galerie -->
{% endblock %}

{% block body %}
    <body class="img">
        <!-- Barre de navigation -->
        <nav class="cc-navbar navbar navbar-expand-lg navbar-dark position-fixed w-100">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase mx-4 py-3 fw-bolder">Oumar Sow</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- Section principale -->
        <section class="banner d-flex justify-content-center align-items-center pt-5">
            <div class="container my-5 py-5">
                <div class="row">
                    <!-- Description textuelle -->
                    <div class="col-md-6 banner-desc lh-lg">
                        <p class="text-capitalize py-3 redressed">
                            <i>
                               Activités et loisirs<br>
                               <strong>
                                Dans mon temps libre, je m'adonne à plusieurs activités qui me permettent de me détendre, de m'amuser et de rester équilibré. Tout d'abord, j'adore jouer au basket avec mes amis. Ce sport est pour moi une excellente manière de me défouler, de rester actif et de renforcer les liens d'amitié.

                                En dehors du sport, j'apprécie beaucoup regarder des matchs de football, un moyen pour moi de suivre les compétitions internationales et d'analyser les stratégies des équipes. Les mangas sont également une de mes passions, car ils me permettent de m'évader dans des univers différents, tout en développant mon imagination.

                                La musique joue également un rôle important dans mon quotidien. Elle me sert à la fois de source de détente et de motivation, que ce soit pour me relaxer après une journée chargée ou pour booster mon énergie. De plus, les jeux vidéo, notamment Fifa et Pes, font partie de mes passe-temps favoris. Ils m'offrent des occasions de relever des défis, de tester mes réflexes et de m'évader dans des compétitions virtuelles.

                                Enfin, j'aime passer du temps à discuter avec ma famille et mes amis. Ces moments de partage sont essentiels pour moi et me permettent de rester connecté avec ceux qui comptent. Lorsque je souhaite changer d'air, je n'hésite pas à sortir me promener dans la ville, profiter de l'environnement urbain et découvrir de nouveaux endroits.

                                Ces différentes activités enrichissent mon quotidien et m'aident à garder un bon équilibre entre détente, loisirs et bien-être personnel.
                                </strong>
                            </i>
                        </p>
                    </div>

                    <!-- Galerie d'images -->
                    <div class="col-md-6">
                        <div class="img-gallery">
                            <div class="image-container loisir-container">
                                <p class="image-description">Loisir</p>
                                <img src="{{ asset('IMAGE/loi.jpg') }}" alt="Loi" class="gallery-image loisir-image" onclick="openModal('{{ asset('IMAGE/loi.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Livre</p>
                                <img src="{{ asset('IMAGE/liv.jpg') }}" alt="Livre" class="gallery-image" onclick="openModal('{{ asset('IMAGE/liv.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Musique</p>
                                <img src="{{ asset('IMAGE/musi.jpg') }}" alt="Musique" class="gallery-image" onclick="openModal('{{ asset('IMAGE/musi.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Basket</p>
                                <img src="{{ asset('IMAGE/bask.jpg') }}" alt="Basket" class="gallery-image" onclick="openModal('{{ asset('IMAGE/bask.jpg') }}')">
                            </div>
                             <div class="image-container">
                                <p class="image-description">Basket </p>
                                <img src="{{ asset('IMAGE/bas3.jpg') }}" alt="Basket 1" class="gallery-image" onclick="openModal('{{ asset('IMAGE/bas3.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Manga</p>
                                <img src="{{ asset('IMAGE/manga.jpg') }}" alt="Manga" class="gallery-image" onclick="openModal('{{ asset('IMAGE/manga.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Football</p>
                                <img src="{{ asset('IMAGE/foot.jpg') }}" alt="Football" class="gallery-image" onclick="openModal('{{ asset('IMAGE/foot.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Promenade</p>
                                <img src="{{ asset('IMAGE/prom.jpg') }}" alt="Promenade" class="gallery-image" onclick="openModal('{{ asset('IMAGE/prom.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Musculation</p>
                                <img src="{{ asset('IMAGE/mus.jpg') }}" alt="Musique 2" class="gallery-image" onclick="openModal('{{ asset('IMAGE/mus.jpg') }}')">
                            </div>
                            <div class="image-container">
                                <p class="image-description">Télephone</p>
                                <img src="{{ asset('IMAGE/app.jpg') }}" alt="Musique 2" class="gallery-image" onclick="openModal('{{ asset('IMAGE/mus.jpg') }}')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal pour afficher l'image agrandie -->
        <div id="myModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="img01">
        </div>

        <!-- Pied de page -->
        <footer>
            Copyright <span class="glyphicon glyphicon-nom-image"></span> 2025 oumar.sow@etu.univ-st-etienne.fr
        </footer>

        <!-- Script JavaScript -->
        <script>
            // Fonction pour ouvrir la modal avec l'image cliquée
            function openModal(imageSrc) {
                const modal = document.getElementById("myModal");
                const modalImg = document.getElementById("img01");
                modal.style.display = "block";
                modalImg.src = imageSrc;
            }

            // Fonction pour fermer la modal
            function closeModal() {
                const modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
        </script>
    </body>
{% endblock %}